# Data Analysis using Python
## 05-Exercise

5-1: Create two data frames based on the following figures.<br />

<img src="../figs/data1.png" alt="data1" width="150"/> <br />

<img src="../figs/data2.png" alt="fig2" width="150"/>

In [2]:
import pandas as pd
data1= pd.DataFrame({
    'id': [10, 20, 30, 40,50],
    'name': ['John', 'Sam', 'Elizabeth', 'Ryan', 'Liam'],
})
data2 = pd.DataFrame({
    'id': [10, 20, 30, 40],
    'age': [42, 31, 28, 53],
    'gender': ['male', 'male', 'female', 'male']
})

5-2: Perform merging of the data frames using left, right, inner, and outer joins.

In [3]:
pd.merge(data1, data2, on='id', how='left')

   id       name   age  gender
0  10       John  42.0    male
1  20        Sam  31.0    male
2  30  Elizabeth  28.0  female
3  40       Ryan  53.0    male
4  50       Liam   NaN     NaN

In [4]:
pd.merge(data1, data2, on='id', how='right')

   id       name  age  gender
0  10       John   42    male
1  20        Sam   31    male
2  30  Elizabeth   28  female
3  40       Ryan   53    male

In [5]:
pd.merge(data1, data2, on='id', how='inner')

   id       name  age  gender
0  10       John   42    male
1  20        Sam   31    male
2  30  Elizabeth   28  female
3  40       Ryan   53    male

In [6]:
pd.merge(data1, data2, on='id', how='outer')

   id       name   age  gender
0  10       John  42.0    male
1  20        Sam  31.0    male
2  30  Elizabeth  28.0  female
3  40       Ryan  53.0    male
4  50       Liam   NaN     NaN

[Contents](../..) \| [Previous (4) Exercise](../04-exercise.ipynb) \| [Next (6) Exercise](../06-exercise.ipynb)
------
[05 Merging data frame](../../notebooks/05-merging-data-frame)